.sidepanel {
    padding: 20px;
    position: absolute;
    height: 95vh;
    width: 240px;
    background-color: rgb(30, 38, 115);
    left: -100%;
    top: 0;
    transition: left .8s;
    .close {
        position: absolute;
        right: 20px;
        font-size: 25px;
        fill: white;
        cursor: pointer;
        font-weight: 700;
    }
}
