.movieInfo {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    padding-bottom: 50px;
    > .containter {
        display: flex;
        height: calc(100vh - 72px);
        align-items: center;
        > .imgBlock {
            width: 30%;
            height: 60vh;
            display: flex;
            border: 1px solid #360033;
            box-shadow: 0 0 10px #360033;
            border-radius: 10px;
            > img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }
        > .infoBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 75%;
            height: 55vh;
            margin-left: 50px;
            > .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
            > .block {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                > h1 {
    
                    color: #fff;
                    font-size: 50px;
                }
                > .infoMovie {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 20px;
                    font-weight: 400;
                    height: auto;
                    width: auto;
                    padding-top: 12px;
                }
                > h4 {
                    font-size: 20px;
                    padding-top: 10px;
                    color: #fff; 
                }
            }
            > a {
                text-decoration: none;
                > h4 {
                    background-color: red;
                    width: 230px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    color: #fff;
                    padding: 14px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        } 
            > p {
                color: #fff;
                margin-top: 80px;
                font-size: 20px;
                font-weight: 400;
            }  
        }
    }
    
}
.link {
    margin: 0 auto;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 180px;
    margin-top: 70px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        color: rgb(92, 83, 248);
        border: 1px solid rgb(92, 83, 248);
    }
}
