.movieslist {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 20px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(230px, 225px));
    justify-content: center;
    gap: 60px;
}